body {
    background-color: rgba(223, 223, 223, 0.283);
    font-family: "Poppins", sans-serif;

}

/* diagrama  */
h2 {
    text-align: center;
    text-decoration: underline;
}

/* operaciones matematicas  */

/* Temperaturas  */

/* De dias a años,semanas y dias restantes  */

/* 5 digitos sumatoria y promedio  */